.card__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;

  .buttons__left,
  .buttons__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.btn__translate {
  font-family: "DM-Sans-Bold";
  font-size: 1rem;
  width: 145px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--semi-blue);
  outline: none;
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 5%;
  left: 40%;
  background-color: var(--semi-gray);
  width: 300px;
  height: 60px;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 100%;
    color: var(--white);
    font-family: "DM-Sans-Bold";
    font-size: 0.875rem;
    text-align: center;
  }
}
